@using L2PAPIClient.DataModel
@using Grp.L2PSite.MobileApp.Services
@model EmailViewModel
@{
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;

    bool? isEditMode = ViewData["EditMode"] as bool?;

    ViewData["Title"] = "Compose Email";

    List<string> allPossibleRecipients = ViewData["allPossibleRecipients"] as List<string>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 9px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20) @((course.courseTitle != null && course.courseTitle.Length > 20) ? "..." : "")</a>
            <a asp-controller="MyCourses" asp-action="Email" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 9px">Email</a>
            <a href="#!" class="breadcrumb blue-text" style="font-size: 9px">Compose</a>
        </div>
    </div>
</nav>
<div class="row">
    <form class="col s12" asp-controller="L2P" asp-action="AddEmail" asp-route-cId="@course.uniqueid" method="post" role="form" enctype="multipart/form-data">
        <div class="row">
            <div asp-validation-summary="ValidationSummary.All"></div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input asp-for="subject" class="validate" type="text" />
                <label asp-for="subject">Subject</label>
                <span asp-validation-for="subject" class="red-text"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select multiple asp-for="recipients">
                    <option value="" disabled selected>Choose by roles</option>
                    <option value="managers">Managers</option>
                    <option value="students">Students</option>
                    <option value="extras">Extra Users</option>
                    <option value="tutors">Tutors</option>
                    <option value="" disabled>Choose by groups</option>
                    @if (allPossibleRecipients != null)
                    {
                        foreach (string userGroup in allPossibleRecipients)
                        {
                            <option value="@userGroup">@userGroup</option>
                        }
                    }
                </select>
                <label>Recipients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input asp-for="cc" class="validate" type="text" />
                <label asp-for="cc">CC</label>
                <span asp-validation-for="cc" class="red-text"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label asp-for="body">Body</label>
                <textarea asp-for="body" class="materialize-textarea validate"></textarea>
                <span asp-validation-for="body" class="red-text"></span>
            </div>
        </div>
        <div class="row">
            <p>Please choose a file to upload in learning materials</p>
            <div class="file-field input-field">
                <div class="btn blue">
                    <span>Upload File</span>
                    <input type="file" id="file" name="file" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="row right-align">
            <div class="input-field col s12">
                <input asp-for="itemId" hidden="hidden" value="@(isEditMode.HasValue ? Model.itemId + "" : "-1")" />
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('select[name="recipients"]').material_select();});

</script>

