@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "View Assignment";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    List<L2PAssignmentElement> assignment = ViewData["ViewAssignment"] as List<L2PAssignmentElement>;
}
<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 9px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20) @((course.courseTitle != null && course.courseTitle.Length > 20) ? "..." : "")</a>
            <a asp-controller="MyCourses" asp-action="Assignments" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 9px">@ViewData["Title"]</a>
            <a href="#!" class="breadcrumb blue-text" style="font-size: 9px">View</a>
        </div>
    </div>
</nav>


<div class="container">
    @if (assignment != null)
    {


        @foreach (L2PAssignmentElement assign in assignment)
        {
            List<L2PAttachmentElement> sampleSol = assign.SampleSolutionDocuments;
            List<L2PAttachmentElement> fileInfo = assign.assignmentDocuments;
            L2PAssignmentCorrection corrInfo = assign.correction;

            L2PAssignmentSolution soldoc = assign.solution;

            <div class="row">
                <div class="col s12">
                    <table class="bordered">

                        <tbody>

                            <tr>
                                <td><b>Assignment Title:</b></td>
                                <td>@assign.title</td>
                            </tr>
                            <tr>
                                <td><b>Description:</b></td>
                                <td>@Html.Raw(assign.description)</td>

                            </tr>
                            <tr>
                                <td><b>Total Point</b>:</td>
                                <td>@assign.totalPoint</td>
                            </tr>
                            <tr>
                                <td><b>Publication Date:</b></td>
                                <td>@Tools.toDateString(assign.assignmentPublishDate)</td>
                            </tr>

                            <tr>
                                <td><b>Due Date:</b></td>
                                <td>@Tools.toDateString(assign.dueDate)</td>

                            </tr>
                            <tr>
                                <td><b>Assignment Documents:</b></td>

                                @if (fileInfo != null)
                                {
                                    <td>
                                        @foreach (L2PAttachmentElement a in fileInfo)
                                        {
                                            <a asp-controller="MyCourses" asp-action="DownloadAssignment" asp-route-url="@a.downloadUrl" asp-route-filename="@a.fileName" asp-route-cId="@course.uniqueid">@a.fileName</a>
                                            <br />
                                        }
                                    </td>

                                }
                                else
                                {
                                    <td>No Document Available</td>
                                }

                            </tr>
                            <tr>
                                <td><b>Sample Solution: </b></td>
                                @if (sampleSol != null)
                                {
                                    <td>
                                        @foreach (L2PAttachmentElement sa in sampleSol)
                                        {

                                            <a asp-controller="MyCourses" asp-action="DownloadAssignment" asp-route-url="@sa.downloadUrl" asp-route-filename="@sa.fileName" asp-route-cId="@course.uniqueid">@sa.fileName</a>

                                        }
                                    </td>
                                }

                                else
                                {
                                    <td> No Document Available</td>
                                }
                            </tr>
                            @if (userRole.role.Contains("student"))
                            {
                                @if (corrInfo != null)
                                {
                                    List<L2PAttachmentElement> corrdoc = corrInfo.correctionDocuments;
                                    <tr>

                                        <td><b>Obtained Point:</b></td>
                                        <td>@corrInfo.obtainedPoint</td>

                                    </tr>
                                    <tr>
                                        <td><b>Tutor Comment:</b></td>
                                        <td><p>@corrInfo.tutorComment</p></td>
                                    </tr>
                                    <tr>
                                        <td><b>Correction Document: </b></td>
                                        @if (corrdoc != null)
                                        {
                                            <td>
                                                @foreach (L2PAttachmentElement c in corrdoc)
                                                {

                                                    <a asp-controller="MyCourses" asp-action="DownloadAssignment" asp-route-url="@c.downloadUrl" asp-route-filename="@c.fileName" asp-route-cId="@course.uniqueid">@c.fileName</a>
                                                    <br />
                                                    @Tools.toDateString(c.modifiedTimestamp)
                                                    <br />

                                                }
                                            </td>

                                        }
                                        else
                                        {
                                            <td> No Document Available</td>
                                        }
                                    </tr>

                                }

                            }
                            @if (userRole.role.Contains("student"))
                            {
                                <tr data-id="3">
                                    <td><b>Work on Solution:</b></td>
                                    <td>
                                        @if (DateTime.Now > Tools.toDateTime(assign.dueDate))
                                        {
                                            @if (soldoc != null)
                                            {

                                                List<L2PAttachmentElement> sodoc = soldoc.solutionDocuments;

                                                @foreach (L2PAttachmentElement s in sodoc)
                                                {

                                                    <a asp-controller="MyCourses" asp-action="DownloadAssignment" asp-route-url="@s.downloadUrl" asp-route-filename="@s.fileName" asp-route-cId="@course.uniqueid">@s.fileName</a>
                                                    <br />
                                                    @Tools.toDateString(s.modifiedTimestamp)
                                                    <br />

                                                }
                                            }


                                        }
                                        else
                                        {//change the asp-action to add solution 
                                            <a class="btn-floating btn-large blue darken-3" asp-controller="L2P" asp-action="AddHyperlink" asp-route-cId="@course.uniqueid">
                                                <i class="large material-icons">publish</i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (userRole.role.Contains("managers") || userRole.role.Contains("tutors"))
            {
                <div class="fixed-action-btn horizontal" style="bottom: 5px; right: 30px;">
                    <a class="btn-floating btn-large blue darken-3">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>

                        <li><a href="#confirmModal" class="btn-floating waves-effect waves-light red modal-trigger"><i class="material-icons">delete</i></a></li>
                        <li><a asp-controller="L2P" asp-action="EditAssignment" asp-route-cId="@course.uniqueid" asp-route-aId="@assign.itemId" class="btn-floating blue waves-effect waves-light"><i class="material-icons">mode_edit</i></a></li>
                    </ul>
                </div>

        <!-- Modal Structure -->
                <div id="confirmModal" class="modal bottom-sheet">
                    <div class="modal-content">
                        <h4>Delete Assignment</h4>
                        <p>Are you sure you want to delete the Assignment</p>
                    </div>
                    <div class="modal-footer centered-content">
                        <a class="modal-action modal-close waves-effect waves-light btn-flat red white-text">No</a>
                        <a asp-controller="L2P" asp-action="DeleteAssignment" asp-route-cId="@course.uniqueid" asp-route-aId="@assign.itemId" class="modal-action modal-close waves-effect waves-light btn-flat green white-text ">Yes</a>
                    </div>
                </div>
            }
        }
    }
</div>


<script>
    $(function () {
        $('.modal-trigger').leanModal(); // Set the Modal to Trigger later on
    });
</script>

<script>
    //$(document).ready(function () {
    //    $('#mytable tr').each(function () {
    //        var r = $("#testing #dueDate").text();

    //        var today = new Date();
    //        var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
    //        var currentDate = today.getDate() + "/" + twoDigitMonth + "/" + today.getFullYear();

    //        alert(currentDate);
    //        if (r > currentDate)
    //        {
    //            alert("if1");
    //            $('tr:not(.toplevel)[data-id="3"]').show;
    //        }
    //        else
    //            $('tr:not(.toplevel)[data-id="3"]').hide();
    //    });
    //});

</script>