@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;

@{
    ViewData["Title"] = "Assignments";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    List<L2PAssignmentElement> assignments = ViewData["Assignments"] as List<L2PAssignmentElement>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20)...</a>
            <a asp-controller="MyCourses" asp-action="Assignments" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px">@ViewData["Title"]</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col s12">
            @if (assignments != null)
            {

                <ul class="collection">
                    @foreach (L2PAssignmentElement A in assignments)
                    {
                        List<L2PAttachmentElement> fileInfo = A.assignmentDocuments;

                        <li class="collection-item avatar">
                            <i class="center-align"><a asp-controller="MyCourses" asp-action="DownloadsZip" asp-route-CAID="@course.uniqueid" asp-route-AID="@A.itemId"><i class="material-icons">get_app</i></a></i>
                            <i class="material-icons circle">assignment</i>
                            <p>
                                <span class="title">
                                    <a asp-controller="MyCourses" asp-action="Assignment" asp-route-cId="@A.itemId">@A.title</a><br/>
                                </span>
                                <b>Publish Date:</b> @Tools.toDateTime(A.assignmentPublishDate) <br />
                                <b>Due Date:</b> @Tools.toDateTime(A.dueDate)<br />
                                <b>Total Point:</b> @A.totalPoint<br />
                                <b>Group submission:</b> @(A.groupSubmissionAllowed ? "Yes" : "No")<br />
                                <a id="a-secondary-content" class="secondary-content" asp-controller="MyAssignment" asp-action="Assignments" asp-route-cId="@A.itemId"><i class="material-icons blue-text">send</i></a>
                            </p>

                        </li>


                        }
</ul>

            }
                </div>
    </div>
</div>
