@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Learning Materials";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    List<L2PLearningMaterialElement> learningMaterial = ViewData["CourseLearningMaterials"] as List<L2PLearningMaterialElement>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20)...</a>
            <a asp-controller="MyCourses" asp-action="LearningMaterials" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px">@ViewData["Title"]</a>
        </div>
    </div>
</nav>
<div class="container">
    
    <div class="row">
        <div class="col s12">
            <table class="bordered highlight">
                <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="notes">Lecture Date</th>
                        <th data-field="oLink">Modified</th>
                        <th data-field="notes">File Size</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @if (learningMaterial != null)
                    {
                        foreach (L2PLearningMaterialElement lm in learningMaterial)
                        {
                            L2PFileInformationElement fileInfo = Tools.DeserializeObject<L2PFileInformationElement>(lm.fileInformation);

                            <tr>
                                <td>@lm.name</td>
                                <td>@Tools.toDateTime(lm.created)</td>
                                <td>@Tools.toDateTime(lm.lastModified)</td>
                                <td>@(fileInfo != null ? Tools.ToFileSize(fileInfo.fileSize) : "")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


