@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;
@{
    ViewData["Title"] = "Learning Materials";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    List<L2PLearningMaterialElement> learningMaterial = ViewData["CourseLearningMaterials"] as List<L2PLearningMaterialElement>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20)...</a>
            <a asp-controller="MyCourses" asp-action="LearningMaterials" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px">@ViewData["Title"]</a>
        </div>
    </div>
</nav>
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header center-align"><h4>@ViewData["Title"]</h4></li>
            @{
                foreach (L2PLearningMaterialElement lm in learningMaterial)
                {
                    L2PFileInformationElement fileInfo = Tools.DeserializeObject<L2PFileInformationElement>(lm.fileInformation);
                    <li class="collection-item avatar">
                        @if (lm.isDirectory)
                        {
                            <i class="large material-icons circle white grey-text" style="font-size: 40px">folder_open</i>
                                <span class="title"><a asp-controller="MyCourses" asp-action="LearningMaterials" asp-route-cId="@course.uniqueid" asp-route-ExtdDir="@lm.name">@lm.name</a></span>
                                <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="LearningMaterials" asp-route-cId="@course.uniqueid" asp-route-ExtdDir="@lm.name"><i class="material-icons blue-text">send</i></a>
                        }
                        else
                        {
                            <img src="@Tools.getImagePathByFileName(lm.name)" class="circle" style="background-size: 80% !important" />
                                <span class="title"><a asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name">@lm.name</a></span>
                                <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name"><i class="material-icons blue-text">get_app</i></a>
                        }
                        <p>
                            @if (lm.relatedLectureDates != null && lm.relatedLectureDates.Count() > 0)
                            {
                                @Tools.toDateTime(lm.relatedLectureDates.First());
                            }
                            @(fileInfo != null ? Tools.ToFileSize(fileInfo.fileSize) : "")
                        </p>

                    </li>
                }
            }
        </ul>
</div>