@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;
@{
    ViewData["Title"] = "Shared Documents";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PRole userRole = ViewData["userRole"] as L2PRole;
    List<L2PLearningMaterialElement> sharedDocuments = ViewData["CourseSharedDocuments"] as List<L2PLearningMaterialElement>;
}

<nav>
    <div class="nav-wrapper white">
        <div class="col s12">
            <a asp-controller="MyCourses" asp-action="WhatsNew" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px; margin-left: 10px;">@Tools.truncateString(course.courseTitle, 20)...</a>
            <a asp-controller="MyCourses" asp-action="SharedDocuments" asp-route-cId="@course.uniqueid" class="breadcrumb blue-text" style="font-size: 12px">@ViewData["Title"]</a>
        </div>
    </div>
</nav>
<div class="col s12">
    <ul class="collection with-header">
        <li class="collection-header center-align"><h4>@ViewData["Title"]</h4></li>
        @{
            foreach (L2PLearningMaterialElement sd in sharedDocuments)
            {
                L2PFileInformationElement fileInfo = Tools.DeserializeObject<L2PFileInformationElement>(sd.fileInformation);
                <li class="collection-item avatar">
                    @if (sd.isDirectory)
                    {
                        <i class="large material-icons circle white grey-text" style="font-size: 40px">folder_open</i>
                        <span class="title"><a asp-controller="MyCourses" asp-action="SharedDocuments" asp-route-cId="@course.uniqueid" asp-route-ExtdDir="@sd.name">@sd.name</a></span>
                        <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="SharedDocuments" asp-route-cId="@course.uniqueid" asp-route-ExtdDir="@sd.name"><i class="material-icons blue-text">send</i></a>
                    }
                    else
                    {
                        <img src="@Tools.getImagePathByFileName(sd.name)" class="circle" style="background-size: 80% !important" />
                        <span class="title"><a asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@sd.selfUrl" asp-route-filename="@sd.name">@sd.name</a></span>
                        <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@sd.selfUrl" asp-route-filename="@sd.name"><i class="material-icons blue-text">get_app</i></a>
                    }
                    <p>
                        @if (sd.relatedLectureDates != null && sd.relatedLectureDates.Count() > 0)
                        {
                            @Tools.toDateTime(sd.relatedLectureDates.First());
                        }
                        @(fileInfo != null ? Tools.ToFileSize(fileInfo.fileSize) : "")
                    </p>

                </li>
            }
        }
    </ul>
</div>