@using L2PAPIClient.DataModel;
@using Grp.L2PSite.MobileApp.Services;
@using LanguageResourceFile;
@{
    ViewData["Title"] = "What's New";
    L2PCourseInfoData course = ViewData["ChosenCourse"] as L2PCourseInfoData;
    L2PWhatsNewDataType cWhatsNew = ViewData["CourseWhatsNew"] as L2PWhatsNewDataType;
    List<L2PAssignmentElement> assignments = ViewData["Assignments"] as List<L2PAssignmentElement>;
    L2PExamResultViewDataType examResults = ViewData["ExamResults"] as L2PExamResultViewDataType;

}

<div class="row" style="margin-bottom: 0px !important">
    <div class="col s12 center-align">
        <div class="chip"><i class="material-icons">new_releases</i><b>What's New</b> | @course.courseTitle</div>
    </div>
</div>
   <div class="row">
        @if (examResults.dataset != null && examResults.dataset.Count > 0)
        {
            L2PExamResultDataType userResult = examResults.dataset.First();
            if (userResult.isPublished)
            {
                <div class="col s12 m6">
                    <div class="card indigo lighten-5">
                        <div class="card-content black-text hoverable">
                            <span class="card-title"><i class="material-icons blue-text">notifications_active</i> Exam Results</span>
                            <span class="badge red white-text">important</span>
                            <p>
                                <b>Name:</b> @userResult.firstname, @userResult.lastname
                                <br/>
                                <b>Grade:</b> @userResult.grade <br />
                                <a asp-controller="MyCourses" asp-action="ExamResults" asp-route-cId="@course.uniqueid">Go to Detailed Results</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col s12 m6">
            <div class="card indigo lighten-5 dismissable">
                <div class="card-content black-text hoverable">
                    <span class="card-title">@Resource.LearningMaterials</span>
                    <ul class="collection">
                        @if (cWhatsNew.learningMaterials != null)
                        {
                            var learnMat = (from elt in cWhatsNew.learningMaterials
                                            where elt.isDirectory == false
                                            orderby elt.created descending
                                            select elt).Take(5);
                            foreach (L2PLearningMaterialElement lm in learnMat)
                            {
                                L2PFileInformationElement fileInfo = Tools.DeserializeObject<L2PFileInformationElement>(lm.fileInformation);
                                <li class="collection-item avatar">
                                    <img src="@Tools.getImagePathByFileName(lm.name)" class="circle" style="background-size: 80% !important" />
                                    <span class="title"><a asp-controller="MyCourses" asp-action="Downloads" asp-route-cId="@course.uniqueid" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name">@lm.name.Replace("_"," ")</a></span>
                                    <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="Downloads" asp-route-cId="@course.uniqueid" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name"><i class="material-icons blue-text">get_app</i></a>
                                    <p>
                                        @if (lm.relatedLectureDates != null && lm.relatedLectureDates.Count() > 0)
                                        {
                                            <b>Lecture Date:</b> @Tools.toDateTimeString(lm.relatedLectureDates.First());
                                            <br />
                                        }
                                        @Html.Raw(fileInfo != null ? "<b>Size: </b>" + Tools.ToFileSize(fileInfo.fileSize) : "")
                                    </p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card indigo lighten-5 dismissable">
                <div class="card-content black-text hoverable">
                    <span class="card-title">Assignments</span>
                    <ul class="collection">
                        @if (assignments != null)
                        {
                            @foreach (L2PAssignmentElement assign in assignments)
                            {
                                if (assign.correction == null)
                                {
                                    assign.correction = new L2PAssignmentCorrection();
                                }
                                <li class="collection-item avatar">
                                    <span class="title"><a asp-controller="L2P" asp-action="ShowAssignment" asp-route-cId="@course.uniqueid" asp-route-aid="@assign.itemId">@assign.title</a></span>
                                    <a id="a-secondary-content" class="secondary-content" asp-controller="MyCourses" asp-action="DownloadsZip" asp-route-CAID="@course.uniqueid" asp-route-AID="@assign.itemId"><i class="material-icons blue-text">get_app</i></a>
                                    <p>
                                        @if (assign.solution != null)
                                        {
                                            <i class="material-icons circle green accent-3">done</i>
                                        }
                                        else
                                        {
                                            <i class="material-icons circle red accent-3">clear</i>
                                        }
                                        <b>Publish Date: </b>@Tools.toDateString(@assign.assignmentPublishDate)<br />
                                        <b>Dute Date: </b>@Tools.toDateTimeString(@assign.dueDate)
                                    </p>
                                </li>
                            }
                            <li class="collection-item center-align">
                                <b>Total Points: </b> @assignments.Sum(item => item.totalPoint) <br />
                                <b>Total Obtained Points: </b> @assignments.Sum(item => item.correction.obtainedPoint) <br />
                                @if (assignments.Sum(item => item.totalPoint) != 0)
                                {
                                    <b>Total Percentage: </b> @(String.Format("{0:0.00}", (assignments.Sum(item => item.correction.obtainedPoint) / @assignments.Sum(item => item.totalPoint) * 100)))
                                    <span>%</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card indigo lighten-5 dismissable">
                <div class="card-content black-text hoverable">
                    <span class="card-title">Recent Announcements</span>
                    <ul class="collapsible" data-collapsible="accordion">
                        @if (cWhatsNew.announcements != null)
                        {
                            var anncmts = (from elt in cWhatsNew.announcements
                                           orderby elt.created descending
                                           select elt).Take(5);
                            foreach (L2PAnnouncementElement anm in anncmts)
                            {
                                <li>
                                    <div class="collapsible-header"><i class="material-icons grey-text">announcement</i><a asp-controller="L2P" asp-action="ShowAnnouncement" asp-route-cId="@course.uniqueid" asp-route-hId="@anm.itemId">@anm.title</a></div>
                                    <div class="collapsible-body"><p>@Html.Raw(@anm.body)</p></div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card indigo lighten-5 dismissable">
                <div class="card-content black-text hoverable">
                    <span class="card-title">Recent Discussions</span>
                    <ul class="collapsible" data-collapsible="accordion">
                        @if (cWhatsNew.discussionItems != null)
                        {
                            var discussions = (from elt in cWhatsNew.discussionItems
                                               orderby elt.created descending
                                               select elt).Take(5);
                            foreach (L2PDiscussionItemElement disc in discussions)
                            {
                                <li>
                                    <div class="collapsible-header"><i class="material-icons grey-text">forum</i><a asp-controller="MyCourses" asp-action="DiscussionForum" asp-route-cId="@disc.selfId">@disc.subject</a></div>
                                    <div class="collapsible-body"><p>@Html.Raw(@disc.body)</p></div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>