@using L2PAPIClient.DataModel;
@{
    ViewData["Title"] = "What's New";
    L2PWhatsNewDataType cWhatsNew = (L2PWhatsNewDataType)ViewData["CourseWhatsNew"];
}

<div class="row">
    <div class="col s12 m6">
        <h5 class="align-center">Learning Materials</h5>
        <div class="divider"></div>
        <table class="bordered highlight hoverable responsive-table">
            <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="created">Publish Date</th>
                    <th data-field="lastModified">Last Modified</th>
                    <th data-field="lastModified">Download</th>
                </tr>
            </thead>
            <tbody>
                @if (cWhatsNew.learningMaterials != null)
                {
                    var learnMat = (from elt in cWhatsNew.learningMaterials
                                    where elt.isDirectory == false
                                    orderby elt.created descending
                                    select elt).Take(5);
                    foreach (L2PLearningMaterialElement lm in learnMat)
                    {
                        <tr>
                            <td><a asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name">@lm.name<</a>/td>
                            <td>@DateTime.FromFileTime(@lm.created)</td>
                            <td>@DateTime.FromFileTime(@lm.lastModified)</td>
                            <td class="align-center"><a asp-controller="MyCourses" asp-action="Downloads" asp-route-url="@lm.selfUrl" asp-route-filename="@lm.name" ><i class="material-icons">get_app</i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>