@using L2PAPIClient.DataModel;
@{
    ViewData["Title"] = "My Courses";

    var result = ViewData["Courses"];
}

<div class="mdl-cell mdl-cell--12-col">
    <h3>@ViewData["Title"]</h3>
    <h4>@ViewData["Message"]</h4>

    @if (result != null)
    {

        List<L2PCourseInfoData> courses = ((List<L2PCourseInfoData>)ViewData["Courses"]);
        var semesters = (from a in courses
                         select a.semester).Distinct();

        if (semesters.Any())
        {
            <table align="center">
                <tr>
                    <td>    
                        <!-- Primary-colored flat button -->
                        <button class="mdl-button mdl-js-button mdl-button--primary">@semesters.First()</button>
                    </td>
                    <td>
                        @{
                            foreach (String semester in semesters.ToList().Skip(1))
                            {
                                 <!-- Primary-colored flat button -->
                                <button class="mdl-button mdl-js-button mdl-button--accent">@semester</button>
                            }
                        }
                    </td>
                </tr>

            </table>

            <div class="mdl-cell mdl-cell--12-col">
                <table align="center" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Course Room</th>
                            <th class="mdl-data-table__cell--non-numeric">Status</th>
                            <th class="mdl-data-table__cell--non-numeric">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<L2PCourseInfoData> currentCourses = L2PAPIClient.api.Calls.L2PviewAllCourseIfoBySemesterAsync(semesters.First()).Result.dataset;
                            foreach (L2PCourseInfoData course in currentCourses)
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a asp-controller="MyCourse" asp-action="ShowSubject" asp-route-id="@course.uniqueid" class="mdl-navigation__link">@course.courseTitle</a></td>
                                    <td class="mdl-data-table__cell--non-numeric">@course.courseStatus</td>
                                    <td class="mdl-data-table__cell--non-numeric">@course.description</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }

</div>